* {
  font-family: unscii;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.box-menu {
  display: flex;
  align-items: center;
}

.box-menu nav {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.box-menu nav .menu-item {
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1.5em;
  transition: filter 0.2s;
  background: rgb(0, 255, 0);
  margin-bottom: 2px;
  margin-left: 1px;
  width: 8.5em;
}

.box-menu .menu-item {
  border-color: #fff;
  border-width: 1px;
  border-top: #fff;
}

.box-menu .menu-item:hover {
  filter: brightness(90%);
}

@media (max-width: 671px) {
  .box-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .box-menu nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 0em;
  }

  .box-menu nav .menu-item {
    padding: 0.8em;
  }
}

@media (max-width: 431px) {
  .box-menu {
    margin-bottom: 25px;
  }

  .box-menu nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box-menu nav .menu-item {
    font-size: 5.5vw;
    padding: 0.5em;
    width: 40vw;
    /* font-size: 1.2em; */
  }
}
