@font-face {
  font-family: "unscii";
  src: url("../../fonts/unscii-16-full.ttf") format("truetype"),
    url("../../fonts/unscii-16-full.woff") format("woff");
}

* {
  font-family: unscii;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.content-container {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

/* 

.table-content td,
.table-content th {
  text-align: center;
  padding: 4px 10px;
  font-size: 20px;
}

.table-content td {
  background: grey;
}

.table-content th {
  background: #ffff;
  color: #000;
} */

@media (max-width: 671px) {
  .content-container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

/* @media (max-width: 431px) {
  .table-content td,
  .table-content th {
    text-align: center;
    padding: 4px 10px;
    font-size: 4.5vw;
  }
} */
