@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

.principal-container {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  flex-direction: column;
}

.principal-container h1 {
  font-size: 40px;
  line-height: 55px;
  text-shadow: 4px 4px 0px rgba(255, 128, 64, 0.8);
}

.principal-container p {
  margin-top: 20px;
  font-size: 35px;
  line-height: 45px;
  text-shadow: 4px 4px 0px rgba(255, 128, 64, 0.8);
}

.principal-container h1,
h2,
p,
button {
  font-family: "Press Start 2p", cursive;
  text-align: center;
}

.principal-container nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal-container img {
  height: 47vh;
  margin-top: 23px;
  margin-bottom: 18px;
}

.principal-container h2 {
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-bottom: 18px;
  text-shadow: 3px 3px 0px rgba(255, 128, 64, 0.8);
}

.principal-container nav button {
  border: 2px solid #ff8040;
  color: #ff8040;
  width: fit-content;
  padding: 6px;
  font-size: 35px;
  background-color: #fff;
}
.principal-container nav button:hover {
  background: #ff8040;
  color: #fff;
  border-color: #fff;
}

@media only screen and (max-width: 650px) {
  .principal-container img {
    height: 70vw;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media only screen and (max-width: 484px) {
  .principal-container img {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .principal-container h1 {
    font-size: 25px;
    line-height: 32px;
  }

  .principal-container p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
  }
}
