.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 100px;
    text-shadow: 3.5px 3.5px 0px rgba(0, 255, 0, 0.8);
    line-height: 250px;
}

.admin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    

    width: 100%;
    max-width: 1120px;
    height: 500px;
    margin: 0 auto;
}

.admin-container input {
    width: 400px;
    margin: 5px;
    height: 50px;
    border: 3px solid #dcdce6;
    box-shadow: 4px 4px 0px grey;
    padding: 10px;
}

.admin-container .button {
    margin-left: 280
    px;
    width: 125px;
    margin-top: 10px;
    box-shadow: 4px 4px 0px grey;
    border: 3px solid #dcdce6;
    transition: filter 0.2s;
    color: black;
    background-color: white;
    font-size: 20px;
}

.admin-container .button:hover {
    filter: brightness(80%);
    cursor: pointer;
}



